# Flutter/Dart
.dart_tool/
.packages
build/
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.flutter-versions

# IDEs y editores
.idea/
.vscode/
*.iml

# MacOS
.DS_Store

# Linux
*.swp

# Archivos de entorno o configuración local
.env
*.log

# Android
android/.gradle/
android/captures/
android/app/debug/
android/local.properties
android/key.properties

# iOS
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/build/
ios/.dart_tool/

# Web
web/.dart_tool/
web/build/

# Firebase
.firebase/

# Otros
*.bak
*.tmp